<!DOCTYPE html>
<html>
<head>
  <title>Admin Panel</title>
 <style>
    body {
  background: #f4fff4;
  font-family: Arial, sans-serif;
}

.admin-box {
  width: 400px;
  margin: 150px auto;
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

a {
  display: inline-block;
  margin-top: 20px;
  color: #16a34a;
  text-decoration: none;
}
 </style>
</head>
<body>

<div class="admin-box">
  <h1>Hello, {{ name }}</h1>
  <p>🚧 Admin Panel is under development</p>
  <p>Please check back later</p>

  <a href="/logout">Logout</a>
</div>



</body>
</html>